*{
	padding: 0;
	margin: 0;
}
ul,li{
	list-style: none;
}
#signLeft {	padding: 20px 30px 25px 30px; }

#signLeftWrap { width: 440px; }
#signRight ul { margin: 0px; }
#signUpForm ul, #signUpForm ul li { list-style-type: none; margin: 0px; }

.spanLink { color: #00AEF6 !important; }
.spanLink:hover { cursor: pointer; text-decoration: underline; }
.plan-inner span.spanLink {
	font-weight: normal;
}

.pointer { cursor: pointer; }

/**popup**/
.outerDIV { background-color: #CCCCCC;  }
.innerDIV { background-color: #383738; padding: 12px; }
.innerDIV, .innerDIV div, .innerDIV span, .innerDIV p { color: #FFF; }

.fR { float: right; text-align: left; }
.fL { float: left; }
.clearDIV { font-size: 1px; line-height: 1px; height: 0px; clear: both; overflow: hidden; }
#signRight ul.cooperation li{
	 float: left;
    height: 24px;
    margin-bottom: 5px;
    margin-left: 0;
    overflow: hidden;
    width: 130px;
}
#signRight ul.cooperation li a{
	float: left;
	display: block;
	width: 125px;
	height: 24px;
	overflow: hidden;
	text-indent: -9999px;
	background: url(icon.png) left top no-repeat;
}
#signRight ul.cooperation li a.sina{
	background-position: left top;
}
#signRight ul.cooperation li a.taobao{
	background-position: left -38px;
}
#signRight ul.cooperation li a.alipay{
	background-position: left -189px;
}
#signRight ul.cooperation li a.cft{
	background-position: left -600px;
}
#signRight ul.cooperation li a.souhu{
	background-position: left -551px;
}
#signRight ul.cooperation li a.go163{
	background-position: left -76px;
}
#signRight ul.cooperation li a.qq{
	background-position: left -471px;
}
#signRight ul.cooperation li a.go51{
	background-position: left -112px;
}
#signRight ul.cooperation li a.google{
	background-position: left -310px;
}
#signRight ul.cooperation li a.msn{
	background-position: left -387px;
}
#signRight ul.cooperation li a.tianya{
	background-position: left -689px;
}
#signRight ul.cooperation li a.douban{
	background-position: left -272px;
}
#signRight ul.cooperation li a.yahoo{
	background-position: left -642px;
}
#signRight ul.cooperation li a.baidu{
	background-position: left -229px;
}
#signRight ul.cooperation li a.shengda{
	background-position: left -513px;
}
#signRight ul.cooperation li a.kaixin{
	background-position: left -350px;
}
#signRight ul.cooperation li a.renren{
	background-position: left -471px;
}
#signRight ul.cooperation li a.go360{
	background-position: left -148px;
}